.container{
  z-index: 10;
  top : 0;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 7vh;
  width: 100vw;
  background: white;
  border-bottom: 1px black solid;
}
.navBtn{
    color : black;
    margin: 1em;
}
