.aboutme{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5%;
    height: 70vh;
}
.photo,
.fp{
    margin : 3.5%
}
.photo{
    position: relative;
    width: 20%;
}
.fp{
    width: 60%;
}